* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  #power-card:hover,
  #reboot-card:hover {
    background-color: #dc3545;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  #power-btn:hover,
  #reboot-btn:hover {
    color: #fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  #power-btn:focus,
  #reboot-btn:focus {
    box-shadow: initial;
  }

  #history-card-body,
  #log-card-body {
    max-height: 256px;
    overflow-y: auto;
  }